/* css reset */
.sprogc-content {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 12px;
  line-height: 1;
  font-family: Arial;
  text-align: left;
  vertical-align: baseline;
  position: relative;
  left: 0;
}

strong {
  font-weight: strong;
}

em {
  font-style: italic;
}

img {
  border: 0;
}

/* Only desktop styles for now */
#header {
	background: #222860;
	width: 
	height: 24px;
	padding: 10px 0 10px;
	border-bottom: 1px solid #CCCCCC;
}

#header_content {
	width: 960px;
	margin: 0 auto;
}

#header_content img {
	width: 60px;
}
#header_content h1 {
	display: inline-block;
	font-size: 40px;
	line-height: 60px;
	color: #FFFFFF;
	margin: 0 0 0 10px;
	vertical-align: top;
	font-family: Arial;
}

#main {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

#main h2 {
	float: left;
	font-size: 28px;
	margin: 0 0 15px;
	font-family: Arial;
}

#main a.create-new {
	float: right;
	font-size: 24px;
}

#main table.appointment-list {
	clear: both;
}
#main table.appointment-list th, #main table.appointment-list td {
	text-align: left;
	padding: 5px 20px 5px 0;
	font-size: 18px;
	min-width: 130px;
	font-family: Arial;
}
#main table.appointment-list td.table-button {
	text-align: right;
}
#main table.appointment-list button {
	font-size: 18px;
}

#main #schedule_form {
	clear: both;
	font-size: 18px;
	font-weight: bold;
}
#main #schedule_form label {
	display: inline-block;
	width: 180px;
	font-family: Arial;
}
#main #schedule_form input {
	font-size: 18px;
	width: 300px;
	margin: 0 0 0 4px;
	font-family: Arial;
}
#main #schedule_form input[type="submit"] {
	width: 180px;
}

#footer {
	background: #222860;
	width: 100%;
	height: 20px;
	padding: 20px 0 40px;
	margin-top: 20px;
	border-top: 1px solid #CCCCCC;
}

#footer_content {
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}